<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.teachtiles.midibridge</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/3078565/Documents/GitHub/java-swerve-template/TeachTiles/.venv/bin/python3</string>
        <string>/Users/3078565/Documents/GitHub/java-swerve-template/TeachTiles/scripts/midi_bridge_daemon.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/3078565/Library/Logs/TeachTiles/midi_bridge_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/3078565/Library/Logs/TeachTiles/midi_bridge_stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/3078565/Documents/GitHub/java-swerve-template/TeachTiles</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
